{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block page %}{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block styles%}

    td{
        padding: 2px;
    }

    .collection .collection-item.active{
        background-color: #E53935;
    }
{% endblock %}


{% block content %}
<div class="row">
    <div class="col m3 list-container collection" style="max-height: 88vh;">
        {% for poke in all_pokemon %}
            {% if selected_pokemon.id == poke.id %}
                <a class="collection-item active white-text" id="poke-{{poke.id}}" href="/app/{{ poke.id }}#poke-{{ poke.id }}" style="color: white;">{{ poke.name }}</a>
            {% else %}
                <a class="collection-item black-text" id="poke-{{poke.id}}" href="/app/{{ poke.id }}#poke-{{ poke.id }}" style="color: black;">{{ poke.name }}</a>
            {% endif %}
        {% endfor %}
        

    </div>
    
    <div class="col m3">

            <p class="text-center">Selected Pokemon</p>

            <div id="pokemon-detail">
                 <!-- Show pokemon details here -->
                <span class="card-title">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{selected_pokemon.id}}.png"> 
                {{selected_pokemon.name}}
                </span>
                <p>Type1: {{selected_pokemon.type1}}</p>
                <p>Type2: {{selected_pokemon.type2}}</p>
                <p>Weight: {{selected_pokemon.weight}}</p>
                <p>Height: {{selected_pokemon.height}}</p>
            </div>

            <form action= "/pokemon/{{selected_pokemon.id}}" method="post">
                <input id="pokemon_name" type="text" name="pokemon_name">
                <button id="captureBtn" type="submit" class="btn" style="background-color: #E53935;"> CAPTURE </button>
            </form>
    </div>

    <div class="col m6" >
        <p class="text-center">Your Pokemon</p>
        <table class="responsive-table" id="pokemon-table">
            <!-- Captured pokemon content here -->
            <thead>
                <tr>
                    <th>Pokemon</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            <!-- show captured pokemon here with controls to rename and release for each pokemon -->
            {% for poke in captured_pokemon %}
                
                <tr id="{{poke.name}}-row">
                    <td>{{poke.pokemon.name}}</td>
                    <td>{{poke.name}}</td>
                    <td>
                        <form action= "/rename-pokemon/{{poke.id}}" method="post">
                            <input id="pokemon_name" type="text" name="pokemon_name">                            
                            <button id="rename-{{poke.name}}" type="submit" class="btn" style="background-color: #E53935;"> Rename </button>
                    
                            <form action= "/release-pokemon/{{poke.id}}" method="post">
                                <button id="release-{{poke.name}}" type="submit" class="btn" style="background-color: #E53935;"> Release </button>
                            </form>
                        </form>
                    </td>
                </tr>
            
            {% endfor %} 
            </tbody>
        </table>
    </div>

</div>



{% endblock %}